:root {
  --image-size: 50%;
}

.title {
/*   background-color: blue; */
/*   margin-left: 0px; */
}

.profileimage {
/*   border-radius: 50%; */
  width: var(--image-size);
  height: auto;
}

.navbar-brand a {
  text-color: black;
}

.project-sample {
  max-width: 50%;
}




